.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@font-face {
  font-family: 'Establo';
 
  src: url('./images/Establo.ttf')  format('truetype'), /* Safari, Android, iOS */
       
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.circle{
  border-radius: 50%;
  background-color: rgba(0, 4, 255, 0.409);
  /* width: 10rem;
  height: 10rem; */
  padding: 2%;
  box-shadow: 6px 6px 12px #282c34;
  align-items:center;
  align-self: center;
  justify-content:  center;
  text-align: center;
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

@keyframes shake {
  0% {
    transform: rotate(-5deg);
  }
  
  50% {
    transform: rotate(5deg);
  }
  
  100%{
    transform: rotate(-5deg);
  }
}

.srchbar{
  width:40px;
  transition: width 500ms;
  background-color:rgba(112, 170, 232,0.8);
  color:transparent;
  
}
.srchbar:focus{
  width:10rem;
  color:black;
  box-shadow: 0 0 0 0.25rem rgba(254, 233, 0, 0.25);
  background-color:rgba(112, 170, 232,0.8);
  color:white;
  
}

.srch{
  display: none;
  color: transparent;
}




.sadsun{
  animation-name: shake;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  height: 20rem;
  object-fit: scale-down;
  
}

.disp{
  width:18rem;
  border-radius: 30px;
  background-color:rgba(252,252,252,0.5);
  
  transition: font-size 600ms ease-out 0ms,background-color 600ms ease-out 0ms ,transform 600ms ease-out 0ms ;


}


.hello span{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  transition: transform 200ms ease-out 0ms ;
  display: inline-block;
  font-size: larger;
  color: whitesmoke;

}
 .hello span:hover{
  transform: scale(1.3);
  color: rgba(59, 59, 253, 0.612);
  transition: transform 300ms ease-out 0ms
  
}
/* @keyframes bounce {
  
            20%, 
            50%, 
            80%, 
            to { 
                transform: scale(1, 1); 
            } 
  
            40% { 
                transform: scale(1.75, 0.65); 
            } 
  
            45% { 
                transform: scale(1.75, 0.65); 
            } 
  
            70% { 
                transform: scale(1.25, 0.75); 
            } 
  
            90% { 
                transform: scale(1.15, 0.85); 
            } 



} */


.container-xl{
  flex-direction: row;

  }
  .card-imge{
    height: 10em; 
    object-fit: cover;
    width:100%;
  }
  
  .card-body .flox{
    flex-direction: row;
    justify-content: space-between;
  }


.disp:hover {
  box-shadow: 20px;
  background-color: rgba(252,252,252,0.9);;
  transform: scale(1.07); 
 }
.card-title b{
  font-size: 1.5em;
}
.container.resultpanel{
  flex-wrap:wrap;
  background-color: rgba(252, 252, 252, 0.5);
  max-height: 100%;
}

.weathercard:hover, .metro-card:hover{
  transform: scale(1.07); 
  
}
  

.icon{
  height: 5em;
  width: 5em;
  margin: 1em;
}

.weathercard{
  border-radius: 30px;
  background-color: rgba(160, 208, 210,0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  height:fit-content;
  padding: auto;
  transition: font-size 600ms ease-out 0ms,background-color 600ms ease-out 0ms ,transform 300ms ease-out 0ms ;
}
 .paramvalue{
  font-size: 3em;
  font-weight: bold;
 }
 .paramtitle{
  font-size: 1.2em;
  
 }

.cardholder{
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weathertxt{
  margin-left: 1em;
  
}
/* .row{
  display: flex;
  flex-direction: row;
  align-items: center; justify-content: center;
} */

.citimg{
  height:100%;
  width:33.33%;
  object-fit: cover;
  border-radius:3em 0 0 3em ;
}

.city-name {
  font-size: 3em;
  display:flex;
  flex-direction: row;
  
}

.metro-card{
  height:12em;
  border-radius: 3em;
 
  transition: font-size 600ms ease-out 0ms,background-color 600ms ease-out 0ms ,transform 300ms ease-out 0ms 
}


@media (max-width:992px){
  .srchbar{
    width:60%;
  
    background-color:rgba(112, 170, 232,0.8);
    color:transparent;
  }
  .srchbar:focus{
    color:black;
    width:60%;
  box-shadow: 0 0 0 0.25rem rgba(254, 233, 0, 0.25);
  background-color:rgba(112, 170, 232,0.8);
  color:white;
  }

  .srch{
    display: inline;
    
  }
  .srch.btn{
    visibility:hidden;
  }

}


@media (max-width:620px){
/* card shape change */
.city-panel {
  flex-direction: column;
}
.date{
  display: none;
}
.cardholder{
  justify-content: center;
}

    .card{
      flex-direction: row;
      height: 20vh;
    }

    .card-imge{
      height: auto;
      object-fit: cover;
      width: 30%;
    }
    .container-xl{
      flex-direction: column;
      align-items: center;

    }
    .disp{
      width:80vw;
      overflow:hidden;
      /* border-radius: 0px; */
      /* background-color:rgba(8, 0, 0, 0.5); */
      transition: font-size 600ms ease-out 0ms,background-color 600ms ease-out 0ms ,transform 600ms ease-out 0ms ;
    }
    .card-body{
      display:flex;
      flex-direction: row;
      justify-content: left;
      padding:4% 0%;
    }
    .card-title{
      width:20vw;;

    }
    .card-body .flox{
      flex-direction: column;
      justify-content:left;
      padding:auto;
    }
    .card-body img{
      display:none; 
    }

    .temps  >.temp , .temps >.max-temp{
      transform: scale(0.7,0.6);
      translate: -15px -25px;

      >p{ translate: -2px -150px;}
    }
    .hum{
      transform: scale(0.8);
      translate: -25px -0px;

    }

    
    .metro-card{
      width: 80%;
      
      h3 , .col-8 .card-text{
        width: 40% ;
        margin : 10%;
        padding: auto;
        vertical-align: middle;
        
      }

      .btn{
        visibility:hidden ;
      }
      .card-body{
       justify-content: space-around;
       flex-direction: row;
      }
      
    }
    .weathercard {
      width:80%;
    }
}